*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-image: linear-gradient(to right,black, red);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: white;
    text-align: center;

}
header{
    background-color: black;
}
main{
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;

    width: 300px;
    background-color: rgb(43, 29, 29);
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    color: black;
    border-radius: 40px;
    padding: 15px;
}
#resultado{
    
    font-size: 1.em;
    text-align: right;
    font-weight: bolder;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 24px;
    height: 40px;
    background-color: white;
}
table{
    margin: auto;
    margin-bottom: 20px;
    
}

.botao{
    width: 55px;
    height: 55px;
    padding: 3px;
    color: white;
    background-color: black;
    font-size: 1.1em;
    font-family:Arial, Helvetica, sans-serif ;
    border-radius: 10px;
}
.botao:hover{
    background-color: white;
    color: black;
}
#zero{
    width: 110px;
}
#igual{
    height: 160px;
}

footer{
    margin-top: 30px;
}
a{
    color:white;
}
a:hover{
    color: rgb(29, 8, 63);
    font-weight: bolder;
}
